<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeYApbMKzKA_LQSJq0PWwwR3uYdbiGjbY</string>
	<key>GCM_SENDER_ID</key>
	<string>638699514457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.monivalinta</string>
	<key>PROJECT_ID</key>
	<string>flutter-test-2-b1504</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-test-2-b1504.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638699514457:ios:dd5543c9a616b50c9adf48</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-test-2-b1504-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>